	ul.pagination li.details{
	   color:#1a5491;
	}
    
    ul.pagination li a
	{
		border-radius:3px;	
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		padding:6px 9px 6px 9px;
	}

	ul.pagination li a
	{
        color: #fff;
		background:#1a5491;
		background:-moz-linear-gradient(top,#87AB19,#1a5491);
		background:-webkit-gradient(linear,0 0,0 100%,from(#87AB19),to(#1a5491));
	}	
	
	ul.pagination li a:hover,
	ul.pagination li a.current
	{
		color:#4F7119;
		background:#E7F2C7;
	}