#pagingg ul.pagination{
	margin:0px;
	padding:0px;
	height:100%;
	overflow:hidden;
	font:16px 'Tahoma';
	list-style-type:none;	
}

#pagingg ul.pagination li.details{
    padding:7px 10px 7px 10px;
    font-size:16px;
}



#pagingg ul.pagination li{
	float:left;
	margin:0px;
	padding:0px;
	margin-left:5px;
}

#pagingg ul.pagination li a.current{
	background-color: #f6f6f6;
	color: black;
}

#pagingg ul.pagination li:first-child{
	margin-left:0px;
}

#pagingg ul.pagination li a{
	color:#fff;
	display:block;
	text-decoration:none;
	padding:7px 10px 7px 10px;
	
}

#pagingg ul.pagination li a img{
	border:none;
}
	